<div class="course-toolbar">
  <br>
  <div class="course-toolbar-item header-drag">
    <img src="<%= asset_path 'header.png'%>" ng-click="showTitleForm()">
  </div>
  <div class="course-toolbar-item text-drag">
    <img src="<%= asset_path 'text-field.png'%>" ng-click="showTextForm()">
  </div>
  <div class="course-toolbar-item image-drag">
    <img src="<%= asset_path 'image.png'%>" ng-click="showUploader()">
  </div>
  <div class="course-toolbar-item video-drag">
    <img src="<%= asset_path 'video.png'%>" ng-click="showVideoField()">
  </div>
  <div class="course-toolbar-item file-drag">
    <img src="<%= asset_path 'file.png'%>">
  </div>
  <div class="course-toolbar-item sound-drag">
    <img src="<%= asset_path 'sound.png'%>">
  </div>
</div>



