<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <article class="type-system-sans"> 
    <a href="/">
      <img class="logo" src="<%= asset_path 'logo_opencourse.png'%>">
    </a>
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
        <li class="nav-link"><a href="/home_pages/about">About</a></li>
        <li class="nav-link"><a href="/courses">Courses</a></li>
        <li class="nav-link"><a href="/searches">Keyword Search</a></li>
        <li class="nav-link"><a href="/courses/new">Create course</a></li>
        <% if user_signed_in? %> 
          <li class="nav-link more">
            <a class="nav-user-pic" href="/usercourses">
              <img src=<%= current_user.profile_image %> >
            </a>
            <ul class="submenu">
              <li><a href="/usercourses">Dashboard</a></li>
              <li><a href="/users/<%= current_user.id %>">Profile</a></li>
              <li><a href="/users/edit">Settings</a></li>
              <li><a href="/users/sign_out">LOGOUT</a></li>
            </ul>
          </li>
        <% else %> 
          <a class="button-simple" href="/users/sign_in"> Log In </a>
          <a class="button" href="/users/sign_up"> Sign Up </a>
        <% end %>
      </ul>
    </nav>
  </article>
  </div>
</header>

<!-- Search -->
<div class="search_wrapper">
  <div class="center">
    <div class="search_bar">
      <%= form_tag '/courses', :method => :get do %>
        <h2 class="search_bar_message"> I want to learn: </h2>
      <div class="search_bar_field">
        <%= text_field_tag :search %>
      </div>
        <%= submit_tag "Search", :class => 'search_bar_btn' %>
      <% end %>  
    </div>
  </div>
</div>







<div class="container">
  <div id="js-parallax-window" class="parallax-window">
    <div class="parallax-static-content">
      <b>Parallax Window</b>
    </div>
    <div id="js-parallax-background" class="parallax-background"></div>
  </div>
</div>

<div class="center">
  <head>
    <link href='//fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Titillium+Web:400,400italic,600italic,600,700,700italic,900,300italic,300,200italic,200' rel='stylesheet' type='text/css'>
  </head>

  <article class="type-system-sans">
    <p class="type">Article Type</p>
    <h1>Article Heading</h1>
    <h2>These override some of the styles specified in the <code>_variables.scss</code> and <code>_typography.scss</code> partials in <a href="//bitters.bourbon.io">Bitters</a>. You can replace the typography variables and the header font specifications in Bitters with these styles. Then you won&rsquo;t need the wrapping class <code>.type-system-name</code>.</h2>
    <p class="date">30 Mar 2014</p>
    <p><span>Lorem ipsum dolor sit amet</span>, consectetur adipisicing elit. Consequatur a, ullam, voluptatum incidunt neque doloremque vel inventore distinctio laudantium harum</a> illo quam nulla dolor alias iure impedit! Accusamus! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, a, ullam, voluptatum incidunt neque porro numquam doloremque vel inventore distinctio laudantium harum illo quam nulla dolor alias iure impedit.
      <a href="javascript:void(0)" class="read-more">Read More <span>&rsaquo;</span></a>
    </p>
    <h3>Subheading lorem</h3>
    <p><span>Consequatur ullam, voluptatum</span> incidunt neque porro numquam doloremque vel inventore distinctio laudantium harum illo quam nulla dolor alias iure impedit. Accusamus. Consequatur, a, ullam, voluptatum incidunt neque porro numquam doloremque vel inventore distinctio laudantium harum illo quam nulla dolor alias iure impedit! Accusamus.</p>
    <hr>
    <p class="author">Author Name</p>
  </article>

</div>
