<div ng-controller="lessonCtrl">
  <% @teachercourse_array.each do | course | %>
  <div class="header-page">
    <div class="add-chapter col-4">
      <a class="button add-chapter-btn" href="/courses/<%= course.id %>/chapters/new">
        Add a chapter 
      </a>
    </div>
    <div class="course-title col-4">
      <h2><%= course.name %></h2>
    </div>
    <div class="course-menu col-4">
      <a class="button-neutral course-overview-button" href="/courses/<%= course.id %>"> Course Overview </a>
      <a class="button-neutral course-overview-button" href="/studentcourses/<%= course.id %>"> Preview </a>
      <div class="publish-form">
        <%= form_tag("/courses/#{course.id}/publish", method: "patch") do %>
          <%= hidden_field_tag :course_id, "#{course.id.to_i}" %>
          <%= submit_tag("Publish >", :class => "publish-button") %>
        <% end %>
      </div>
    </div>
  </div>
    <article class="type-system-sans"> 
      <div class="vertical-tabs-container course-tabs">
        <div class="vertical-tabs">
          <% course.chapters.each do |chapter| %>
            <a class="add-lesson" href="/courses/<%= course.id %>/chapters/<%= chapter.id %>/lesson/new">+</a>
            <a ng-click="fetchChapter(<%=chapter.id%>)" href="javascript:void(0)" class="chapter-tab js-vertical-tab vertical-tab" rel="<%='chapter' + chapter.id.to_s %>"><%= chapter.name %> </a> 
              <% chapter.lessons.each do |lesson| %>
                <a ng-click="fetchLesson(<%=lesson.id%>)" href="javascript:void(0)" class="js-vertical-tab vertical-tab lesson-tab" rel="<%='lesson' + lesson.id.to_s %>"><%= lesson.name %> </a>
              <% end %>
          <% end %>   
        </div>
        <div class="vertical-tab-content-container course-tab-content-container course-content">
            <ul dnd-list="lessonElements">
              <li ng-repeat="lessonElement in lessonElements" dnd-draggable="lessonElement" dnd-moved="changePriority($index)" dnd-effect-allowed="move">
                <div ng-if="lessonElement.element_type === 'text'">
                  <p editable-textarea="lessonElement.element_text" onbeforesave="updateElement($data)">{{ lessonElement.element_text }}</p>
                </div>
                <div ng-if="lessonElement.element_type === 'title'">
                  <h1 editable-textarea="lessonElement.element_text">{{ lessonElement.element_text }}</h1>
                </div>
                <div class="image-element" ng-if="lessonElement.element_type === 'image'">
                  <img class="course-image-element" src="{{ lessonElement.element_url }}">
                </div>
                <div ng-if="lessonElement.element_type === 'video'">
                  <div class="video-element" editable-textarea="lessonElement.element_text" ng-bind-html="makeTrust(lessonElement.element_text)">
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div>
            <!-- Hidden - triggered elements -->
            <div id="text-form" ng-if="textFormVisible">
              <textarea ng-model="newText" placeholder="Enter Your Content Here"> </textarea>
              <button ng-click="saveText(newText)" class="button">Save</button>
            </div>
            <div id="title-form" ng-if="titleFormVisible">
              <textarea ng-model="newTitle" placeholder="Enter Your Title Here"> </textarea>
              <button ng-click="saveTitle(newTitle)" class="button">Save</button>
            </div>
            <div id="video-field" ng-if="videoFieldVisible">
              <textarea ng-model="newVideo" placeholder="Copy your embeded code here"> </textarea>
              <button ng-click="saveVideo(newVideo)" class="button">Save</button>
            </div>
            <!-- Uploader -->
                <div id="image-field" ng-if="imageUploaderVisible" >
                  <div ng-init="uploadImage()">
                    <input type="file" nv-file-select="" uploader="uploader" multiple /><br/>
                    <ul>
                        <li ng-repeat="item in uploader.queue">
                            Name: <span ng-bind="item.file.name"></span><br/>
                            <div ng-show="uploader.isHTML5" ng-thumb="{ file: item._file, height: 100 }"></div>
                        </li>
                    </ul>
                    <button type="button" class="btn btn-success btn-s" ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length">
                        <span class="glyphicon glyphicon-upload"></span> Upload all
                    </button>
                    <div class="progress" style="">
                        <div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
                    </div>
                  </div>
                </div>
            <!-- End Uploader -->
        </div>
      </div>
  <!-- TOOL BAR -->
  </article>
  <% end %>
  <%=render "partials/toolbar"%>
</div>

   



