

<div ng-controller="courseCtrl">
  <div class="center">
    <div ng-if="alphabetVisible" class="alphabet_search">
      <ul>
        <% @alphabet.each do |letter|%>
        <li >
          <%= link_to "#{letter}", courses_path(:letter => letter), :class => "alphabet-link" %>
        </li>
        <% end %>
        </ul>
    </div>
    <a href="" class="alphabet-search-pulldown" ng-click="showAlphabetSearch()">
      <img src="<%= asset_path 'alphabet-search.png'%>">
    </a>
    <% if @courses %>
      <div>
      <%= will_paginate @courses, :page_links => false %>
      <hr>
      </div>
      <div class="grid-items-lines home-grid">
        <%  @courses.each do |course| %>
          <a href="/courses/<%= course.id %>" class="grid-item">
              <div class="grid-course-image">
                <img class="course-image-home" src="<%= course.image %>">
              </div>
            <h1><%= course.name %></h1>
            <div class="grid-item-description">
              <p><%= course.description %></p>
            </div>
            <span class="type"> Learn Now </span>
          </a>
          <div class="right-cover"></div>
        <% end %>
      </div>
      <br>
      <%= will_paginate @courses, :page_links => false %>
    <% end %>
  </div>
</div>













