<div class="center" >
  <div class="course-overview">
    <h1><%= @course.name %></h1>
    <div class="course-overview-image">
      <img src="<%= @course.image.url %>">
      <div class="course-overview-stats">
        <a href="/studentcourses/<%= @course.id %>" class="button"> View Course </a>
      </div>
      <div class="course-overview-description">
        <%= @course.description %>
      </div>
    </div>
  </div>

  <div class="author-course-overview">
    <div class="author-info">
      <h2> Author </h2>
      <hr>
      <% @authors_array.each do |author| %>
        <h3><%= author.name %>
        <%= author.last_name %></h3>
        <img src="<%= author.profile_image.url %>">
        <hr>
        <p> <%= author.description %> </p>
        <hr>
      <% end %>
    </div>
  </div>
</div>









 






