
  <h1><%= @course.name %></h1>
 

  <div class="vertical-tabs-container">
    <div class="vertical-tabs">
      <% @chapters.each do |chapter| %>
        <a href="javascript:void(0)" class="js-vertical-tab vertical-tab" rel="<%= chapter.id%>">
          <%= chapter.name %>          
        </a>
      <% end %>
      
    </div> 

    <div class="vertical-tab-content-container">
      <% @chapters.each do |chapter| %>
        <a href="" class="js-vertical-tab-accordion-heading vertical-tab-accordion-heading is-active" rel="<%= chapter.id %>">
        </a>
        <div id="<%= chapter.id%>" class="js-vertical-tab-content vertical-tab-content">
            <p> <%= chapter.description %> </p>
            <p> <%= @lessons %> </p>
        </div>
      <% end %>


    </div>
  </div>

 
