<% if user_signed_in? %> 
  <div class="center">
    <article class="type-system-sans"> 
        <br>
        <br>
          <h1> Welcome <%= @user.name %></h1>
            <ul class="accordion-tabs-minimal">
              <li class="tab-header-and-content">
                <a href="#" class="tab-link is-active">Learning</a>
                <div class="tab-content">
                  <div class="grid-items-lines">
                    <% @user_courses_learning.each do |course| %>
                      <a href="/courses/<%= course.id %>" class="grid-item">
                        <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1_dark.png" alt="">
                        <h1><%= course.name %></h1>
                        <p><%= course.description %> </p>
                      </a>
                      <div class="right-cover"></div>
                      <div class="bottom-cover"></div>
                    <% end %>
                  </div>
                </div>
              </li>
              <li class="tab-header-and-content">
                <a href="#" class="tab-link">Teaching</a>
                  <div class="tab-content">
                    <div class="grid-items-lines">
                      <% @user_courses_teaching.each do |course| %>
                        <a href="/teachercourses/<%= course.id %>" class="grid-item">
                          <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1_dark.png" alt="">
                          <h1><%= course.name %></h1>
                          <p><%= course.description %> </p><br>
                        </a>
                        <div class="right-cover"></div>
                        <div class="bottom-cover"></div>
                      <% end %>
                    </div>
                  </div>
              </li>
            </ul>
    </article>
  </div>
  <% end %>









      















          
      
