<!DOCTYPE html>
<html>
<head>
  <title>StudentApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <!-- Navigation -->

  <header class="navigation" role="banner">
    <div class="navigation-wrapper">
      <article class="type-system-sans"> 
      <a href="/">
        <img class="logo" src="http://s14.postimg.org/kciqmygi9/logo_opencourse.png">
      </a>
      <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
      <nav role="navigation">
        <ul id="js-navigation-menu" class="navigation-menu show">
          <li class="nav-link"><a href="/home_pages/about">About</a></li>
          <li class="nav-link"><a href="/courses">Courses</a></li>
          <li class="nav-link"><a href="/searches">Keyword Search</a></li>
          <% if current_user %>
          <li class="nav-link"><a href="/courses/new">Add New course</a></li>
          <% end %>
          <% if user_signed_in? %> 
            <li class="nav-link more">
              <a class="nav-user-pic" href="/usercourses">
                <img src=<%= current_user.profile_image %> >
              </a>
              <ul class="submenu">
                <li><a href="/usercourses">Dashboard</a></li>
                <li><a href="/users/<%= current_user.id %>">Profile</a></li>
                <li><a href="/users/edit">Settings</a></li>
                <li><a href="/users/sign_out">LOGOUT</a></li>
              </ul>
            </li>
          <% else %> 
            <a href="/users/sign_in"> Log In </a>
          <% end %>
        </ul>
      </nav>
    </article>
    </div>
  </header>

  <!-- Search -->
  <div class="search_wrapper">
    <div class="center">
      <div class="search_bar">
        <%= form_tag '/courses', :method => :get do %>
          <h2 class="search_bar_message"> I want to learn: </h2>
        <div class="search_bar_field">
          <%= text_field_tag :search %>
        </div>
          <%= submit_tag "Search", :class => 'search_bar_btn' %>
        <% end %>  
      </div>
    </div>
  </div>


<!-- flash -->
<% flash.each do |name, message| %>
  <div class="flash-<%= name %>">
    <span>
      <%= message %>
    </span>
  </div>
<% end %>

  <div class="container">
    <div class="content">
      <article class="type-system-sans"> 
        <%= yield %>
      </article> 

    </div>
  </div>
<!-- Footer -->

</body>
</html>







